.general-form {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.side-by-side {
  display: flex;
  flex-direction: row;
  gap: 5em;
}

.side-by-side div {
  display: flex;
  flex-direction: column;
}

.tall {
  height: 5em;
  resize: none;
}
